
:root {
    --category-color: #000;
}

.categorySquare[data-category="Main expenses"] {
    --category-color: rgba(254, 208, 87, 1);
}

.categorySquare[data-category="Products"] {
    --category-color: rgba(255, 216, 208, 1);
}

.categorySquare[data-category="Car"] {
    --category-color: rgba(253, 148, 152, 1);
}

.categorySquare[data-category="Self care"] {
    --category-color:rgba(197, 186, 255, 1);
}

.categorySquare[data-category="Child care"] {
    --category-color:rgba(110, 120, 232, 1);
}

.categorySquare[data-category="Household products"] {
    --category-color:rgba(74, 86, 226, 1);
}

.categorySquare[data-category="Education"] {
    --category-color:rgba(129, 225, 255, 1);
}

.categorySquare[data-category="Leisure"] {
    --category-color:rgba(36, 204, 167, 1);
}

.categorySquare[data-category="Other expenses"] {
    --category-color:rgba(0, 173, 132, 1);
}

.categorySquare[data-category="Entertainment"] {
    --category-color: rgba(203, 242, 111, 1);
}

