:root{
    /*colors global*/
--purple: #4a56e2;
--purple-light:#6E78E8;

--black:#000000;

--white:#ffffff;

--white-statistics:#FFD8D0;
--cream-statistics:#FD9498 ;


--pink:#FF6596;
--pink-light:#C5BAFF;

--green:#24CCA7;
--green-dark:#00AD84;

--yellow:#FED057;

--blue-light:#81E1FF;

--text-placeholder:#BDBDBD;



}