:root{
    /*colors global*/
--purple: #4a56e2;
--purple-light:#6E78E8;
--purple-dark:#4A56E2;

--black:#000000;
--white:#ffffff;

--white-statistics:#FFD8D0;
--cream-statistics:#FD9498 ;


--pink-light:#C5BAFF;
--pink:#FF6596;

--yellow:#FED057;

--green:#24CCA7;
--green-dark:#00AD84;
--active-form:#24CCA7;

--blue-light:#81E1FF;

--text-placeholder:#BDBDBD;



}