.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    height: inherit;
    max-width: 100%;
}

@media screen and (min-width: 767px) {
    .container {
        padding: 0px 35px;
        width: 768px;
    }
}

@media screen and (min-width: 1279px) {
    .container {
        padding: 0px 20px;
        width: 1280px;
        display: flex;
    }
}
