/*Mobile*/

/*Tablet*/
@media screen and (min-width: 767px) {
    .common__container {
        background-image: url(../assets/desktop-login/element-down.png),
        url(../assets/desktop-login/element-up.png);

        background-repeat: no-repeat, no-repeat;
        background-position: bottom left, top right;
        background-color: #e7eaf2;
    }

    .logo__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
    }

    .reg__image {
        margin-bottom: 32px;
        width: 274px;
        height: 250px;
    }

    .title {
        font-family: 'Poppins';
        src: url('../assets//fonts//Poppins-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        line-height: 1.5;
    }

    .form__container {
        padding: 52px 91px 52px 107px;
    }
}

/*Desktop*/
@media screen and (min-width: 1279px) {
    .common__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .logo__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 153px 31px 77.5px 66px;
    }

    .reg__image {
        margin-bottom: 32px;
        width: 452px;
        height: 413px;
    }

    .form__container {
        min-height: 100vh;
        display: inline-flex;
        align-items: center;

        background: rgba(255, 255, 255, 0.4);
    }
}