@import '../../stylesheet/vars.css';
@import '../../stylesheet/fonts.css';

.header {
    z-index: 1;
    background-color: var(--secondary-background-color);
    height: 60px;
    width: 100%;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    display: flex;
}

.logo__link {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.logo__name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__name:hover {
    color: var(--green-color);
}

.user__name {
    position: relative;
    font-family: 'Circe';
    font-weight: 400;
    color: var(--dark-form-color);
    margin-right: 8px;
}

.auth__container {
    display: flex;
    align-items: center;
}

.button__logout {
    padding: 0;
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logout__icon {
    color: var(--dark-form-color);
    width: 18px;
}

.logout__text {
    display: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logout__text:hover {
    color: var(--red-color);
}

@media screen and (min-width: 768px) {
    .logo__img {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }

    .logo__name {
        font-size: 30px;
    }

    .header {
        height: 80px;
    }

    .header__container {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .logo__name {
        font-size: 30px;
    }

    .logout__text {
        display: block;
        font-family: 'Circe';
        font-weight: 400;
        font-size: 18px;
        color: var(--dark-form-color);
        margin-left: 8px;
    }

    .user__name {
        font-size: 18px;
        margin-right: 24px;
    }

    .user__name::after {
        position: absolute;
        content: '';
        background-color: var(--dark-form-color);
        height: 30px;
        width: 1px;
        right: -12px;
        top: -5px;
    }
}

@media screen and (min-width: 1280px) {
    .header__container {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 16px;
        padding-right: 16px;
    }
}