@media screen and (min-width: 320px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  input {
    border: 0;
    border-bottom: 1px solid;
    border-color: #e0e0e0;
  }

  .title {
    display: flex;
    font-size: 24px;
    width: 280px;
    height: 31px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .sliderContainer {
    display: flex;
    align-items: center;
    gap: 22px;
    width: 235px;
    height: 44px;
  }

  .slider {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
  }

  .slider__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider__span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid #dfdfdf;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }

  .slider__span::before {
    content: '-';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    /* content:url(""); */
    height: 44px;
    width: 44px;
    right: 0px;
    bottom: -3px;
    background-color: #ff6596;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow: 10px 10px 20px -10px rgba(255, 101, 150, 1);
  }

  input:checked + .slider__span:before {
    transform: translateX(-36px);
    content: '+';
    background-color: #24cca7;
    box-shadow: -10px 10px 20px -10px rgba(36, 204, 167, 1);
  }

  .slider__titleGreen {
    color: green;
  }

  .slider__titleRed {
    color: red;
  }

  .slider__titleGray {
    color: gray;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 280px;
    min-height: 32px;
    margin-top: 40px;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btnAdd {
    width: 300px;
    height: 50px;
    flex-shrink: 0;
    border: 0;
    border-radius: 20px;
    background-color: #24cca7;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-family: Circe;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .btnCancel {
    width: 300px;
    height: 50px;
    flex-shrink: 0;
    border: 0;
    border-radius: 20px;
    border: 1px solid #4a56e2;
    background-color: #fff;
    color: #4a56e2;
    text-align: center;
    font-family: Circe;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 540px;
    height: 508px;
    border-radius: 20px;
    /* background-color: #fff; */
    background-color: yellowgreen;
  }

  .formContainer {
    width: 540px;
    justify-content: center;
  }

  .title {
    width: 381px;
    height: 40px;
    margin-top: 40px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  input {
    width: 394px;
    height: 32px;
  }
  /* 
  .amountInput {

  }

  .dateInput {

  } */
}

@media screen and (min-width: 1279px) {
}
