@font-face {
  font-family: Circe;
  src: url(../../assets/fonts/Circe-Regular.otf);
}
@font-face {
  font-family: CirceBold;
  src: url(../../assets/fonts/Circe-Bold.otf);
}

body {
  background-color: white;
}
.wrapper {
  z-index: 55;
  font-family: Circe;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 55;
  border-radius: 20%;
}

.selectBtn,
.selectBtnGrey {
  display: flex;
  background-color: white;
  padding: 10px 10px 0 10px;
  margin-bottom: 40px;
  width: 100%;
  justify-content: left;
  outline: none;
  color: black;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 56;
}
.selectBtnGrey {
  color: #979797;
}

.optionsContainer {
  background-color: rgba(220, 220, 220, 0.7);
  opacity: 95%;
  border-radius: 20px;
  width: 100%;
  display: flex;
  position: absolute;
  backdrop-filter: blur(25px);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  top: 35px;
  z-index: 60;
}
.options {
  list-style: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  padding: 0;
  opacity: 100%;
  max-height: 50vh;
  overflow-y: scroll;
}

.option {
  color: black;
  font-size: 18px;
  padding: 5px 15px;
  height: 44px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.option:hover {
  color: var(--pink);
  font-family: CirceBold;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.option:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.option:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vw;
  opacity: 0;
  color: yellow;
  bottom: 0;
  right: 0;
  z-index: 5;
}

@media screen and (min-width: 768px) {
  .optionsContainer {
    width: 100%;
    left: 0;
  }
}
