.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 16px;
}
.tabHeader {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  padding: 0 28px;
}
@media screen and (max-width: 767px) {
  .tabHeader {
    padding: 0 20px;
  }
}
.tableHead {
  border-radius: 30px;
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.tableHeadTr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 27px;
  border-radius: 30px;
  height: 58px;
  background-color: var(--primary-background-color);
}
@media screen and (max-width: 767px) {
  .tableHeadTr {
    width: 100%;
  }
}
.tabRow {
  display: inline-flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.total {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 15px 30px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.totalExpenses {
  color: #FF6596;
}
.totalIncome {
  color: #24CCA7;
}
.bodyTr {
  padding: 0 28px;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid #DCDCDF;
  box-shadow: 0px 1px 0px rgb(255 255 255 / 60%);
}
@media screen and (max-width: 767px) {
  .bodyTr {
    padding: 0 20px;
  }
}
.bodyText {
  padding: 0 0px 0 16px;
  justify-content: space-between;
  display: flex;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}