.form {
    margin: 0px auto;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

/* LOGO */
.logo__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.logo {
    margin-right: 15px;
}

.errors {
    color: red;
    position: absolute;
    bottom: -30px;
    left: 0;
    font-family: Poppins;
    font-size: 13px;
}

.title {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 0.85;
    color: black;
}

/* INPUT */

.input__container {
    position: relative;
    margin-bottom: 40px;
}

.input {
    font-family: 'Circe';
    src: url('../../assets/fonts/Circe-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #bdbdbd;
    border: none;
    outline: none;
    border-bottom: 1px solid #e0e0e0;
    height: 24px;
    padding: 8px 8px 8px 45px;
}

.input:focus {
    border-bottom: 1px solid #24cca7;
}

.input__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10px;
    top: 25%;
}

/* BUTTONS */
.btn__cnt {
    display: flex;
    flex-direction: column;
}

.main__btn {
    font-family: 'Circe';
    src: url('../../assets//fonts//Circe-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: white;
    background: #24cca7;
    outline: none;
    border: none;
    border-radius: 20px;
    width: 280px;
    height: 50px;

    margin-bottom: 20px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.main__btn:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.scd__btn {
    font-family: 'Circe';
    src: url('../../assets//fonts/Circe-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #4a56e2;
    background: #ffffff;
    border: 1px solid #4a56e2;
    border-radius: 20px;
    width: 280px;
    height: 50px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.scd__btn:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.password__visibility__toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -5px;
    top: 30%;
    cursor: pointer;
}

/*Tablet*/
@media screen and (min-width: 767px) {
    .form {
        height: auto;
        max-width: 468px;
        padding: 40px 59px 66px 65px;
        border-radius: 20px;
    }

    .logo {
        margin-right: 20px;
    }

    .title {
        font-size: 30px;
        line-height: 1.5;
    }

    .input {
        width: 347px;
        height: 32px;
    }

    .main__btn {
        width: 300px;
        height: 50px;
    }

    .scd__btn {
        width: 300px;
        height: 50px;
    }
}

