.balance_container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 8px 32px 12px 32px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  width: 90%;
  height: 80px;
}
@media (min-width: 768px) {
  .balance_container {
    justify-content: center;
    width: 336px;
  }
}

.balance_title {
  margin: 0;
  font-family: 'Circe';
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(166, 166, 166, 1);
}

.balance_result {
  margin: 0;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}
